.ostoslista-body{
	width: 100%;
	max-width: 1480px;
    padding-left: 60px;
    padding-right: 60px;
	margin: auto;
}

.CartContainer{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding-left: 60px;
	padding-right: 60px;
	display: inline-block;
}

.Header{
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}
.inner_header {
	width: 100%;
	display: flex;
    flex-grow: 1;
}
.header-top{
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items: right;
	text-align: right;
}
.Heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #2F3841;
}

.Action{
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 0;
}

.Cart-Items{
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}
.image-box{
	width: 130px;
	padding-right: 30px;
	padding: 0;
	margin: 0;
}
.cart-items-ei-kuva {
	display: flex;
	width: 100%;
}
.about{
	width: 60px;
}
.title{
	text-align: left;
	width: 533px;
}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
}

.counter{
	text-align: right;
	width: 220px;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	cursor: pointer;
}
.count{
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}

.prices{
	text-align: right;
	width: 150px;
}
.amount{
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3D998A;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
}
.total{
	border-bottom: 1px solid #e2e2e2;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}
.napit {
	border-bottom: 1px solid #e2e2e2;
	padding: 20px 0;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}
.button{
	width: 25%;
	height: 40px;
	border: none;
	background: #3D998A;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #ffffff;
	outline-color: transparent !important;
}
.toimitusaika {
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 20px;
	padding-top: 80px;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
.nappi {
    font-weight: 300;
	background: #3D998A;
	border-radius: 5px;
	border: none;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
	outline-color: transparent !important;
}
.osoite {
    box-sizing: border-box;
    font-size: 16px;
	padding: 7px;
    resize: none;
    width: 50%;
    border-radius: 5px;
	margin: 10px 0;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
	background-color: white;
    color: #3e3e3e;
    outline-color: #3D998A;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.question {
	text-align: center;
	top: 40px;
	clear: left;
	color: #ffffff;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
  
.kysymys_nappi {
	font-weight: 300;
    background: #3D998A;
    border-radius: 5px;
    border: none;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
	outline-color: transparent !important;
}
.valmistusaika {
    padding-top: 20px;
	padding-bottom: 0;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #3e3e3e;
}
.tilaa_nappi {
	width: 130px;
    height: 40px;
    border: none;
    background: #3D998A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #ffffff;
	outline-color: transparent !important;
}
.kysy {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #3e3e3e;
}
.Kysymykset {
    border-bottom: 1px solid #e2e2e2;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}
.copyrights {
    background-color: #414141;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    margin-top: 40px;
	width: 100%;
	position: static;
}
.tuote-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: left;
	padding-bottom: 10px;
}
.maara-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: right;
	padding-bottom: 10px;
}
.summa-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: right;
	padding-bottom: 10px;
}
.hinta-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: right;
	padding-bottom: 10px;
}
.yksittaishinta {
	text-align: right;
	width: 220px;
}
.yksittais {
	font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #3e3e3e;
}
.pizza-title {
	font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #3D998A;
}
.tuote-laatikko {
	width: 130px;
    padding-right: 30px;
    padding: 0;
    margin: 0;
}
.hinta-laatikko {
	text-align: left;
    width: 800px;
}
.maara-laatikko {
	text-align: right;
    width: 220px;
}
.summa-laatikko {
	text-align: right;
    width: 150px;
}
.tilaamaan {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
	padding-top: 10px;
}
.kysymys-box {
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
	text-align: center;
}
.nappi:hover {
	filter: brightness(0.93);
}
.button:hover {
	filter: brightness(0.93);
}
.kysymys_nappi:hover {
	filter: brightness(0.93);
}
.tilaa_nappi:hover {
	filter: brightness(0.93);
}
.answer {
	padding-top: 2px;
	padding-bottom: 2px;
}