.ostoslista-body{
	margin: 0;
	padding: 0;
	display: flex;
}

.CartContainer{
	width: 65%;
	height: 100%;
	background-color: #ffffff;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
}

.Header{
	margin: auto;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
	vertical-align: baseline;
    border-bottom: 1px solid #e2e2e2;
}
.header-top{
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items: right;
	text-align: right;
}
.Heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #2F3841;
}

.Action{
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 0;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: left;
	border-bottom: 1px solid #e2e2e2;
}
.image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	line-height: 10px;
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	margin-right: 20%;
}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
}

.counter{
	width: 15%;
	text-align: right;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	cursor: pointer;
}
.count{
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	text-align: center;
	padding-right: 45px;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	width: 35%;
}
.total{
	width: 75%;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
}
.button{
	margin-top: 10px;
	width: 25%;
	height: 40px;
	border: none;
	background: #3D998A;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #ffffff;
}
.toimitusaika {
    background-color: #ffffff;
    align-content: middle;
    overflow: hidden;
    padding: 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5%;
    width: 35%;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
.nappi {
    font-weight: 300;
	background: #3D998A;
	border-radius: 5px;
    padding: 0;
	border: none;
	padding: 10px 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
.osoite {
    box-sizing: border-box;
    font-size: 16px;
	padding: 7px;
    resize: none;
    width: 30%;
    border-radius: 5px;
	margin-top: 10px;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
	background-color: white;
    color: #3e3e3e;
    outline-color: #3D998A;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.question {
	text-align: center;
	top: 40px;
	clear: left;
	color: #ffffff;
	font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
  
.kysymys_nappi {
	font-weight: 300;
    margin-top: 10px;
    background: #3D998A;
    border-radius: 5px;
    padding: 0;
    border: none;
    padding: 10px 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
.valmistusaika {
	padding-top: 30px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #ffffff;
}
.tilaa_nappi {
	font-weight: 300;
    margin-top: 10px;
    background: #3D998A;
    border-radius: 5px;
    padding: 0;
    border: none;
    padding: 10px 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
}
.kysy {
	padding-top: 30px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #ffffff;
}
.Kysymykset {
	width: 100%;
	height: 20%;
	align-content: center;
	display: block;
}
.answer {
	align-content: center;
}
.copyrights {
    background-color: #414141;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    margin-top: 40px;
	width: 100%;
	position: static;
}
.tuote-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	padding-right: 57%;
}
.maara-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: center;
	padding-right: 134px;
}
.summa-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: left;
}
.hinta-heading {
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #3e3e3e;
	padding-top: 60px;
	text-align: right;
	padding-right: 90px;
}
.yksittaishinta {
	font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #3e3e3e;
	padding: 0 0 0;
	text-align: right;
	padding-right: 45px;
}